/** video **/

.video{
  background: #f34e2a;
  border-bottom: 50px solid #d04223;
}
.videoWrapper {
  position: relative;
  padding-bottom: 49.25%; /* 16:9 */  
  padding-top: 10px;
  height: 0;
  max-width: 940px;
}
.videoWrapper__iframe {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 100%;
}



/** Sobre **/
.sobre {
  background: #ebebeb;
  padding-top: 0;
}
.sobre p {
  font: .9em/1.8 sans-serif;
}

.sobre p:first-child {
  margin-bottom: 3em;
}
.sobre .titulo-secao{
  color: #8b251d;
}
.planoEstudo{
  background: white;
}

.planoEstudo .titulo-secao{
  color: #12303a;
}


.card{
  padding: 5px;
  box-shadow: 2px 2px 8px -2px rgba(0,0,0,.5);
  margin-bottom: 15px;
  font-size: 0;
  min-height: 100px;
  position: relative; 
  padding-left: 140px; 
  transition: background .5s;
}
.card__imagem{
  display: inline-block;
  width: 33.333%;
  height: 100%;
  width: 120px;
  position: absolute;
  left:0;
  top: 0;
  bottom: 0;
  background: #eee;
  border-right: solid 1px #c8c8c8;
  transition: background .5s;


}
.card__imagem img{
      width: 80%;
    height: 80%;
    margin: 10%;
    transition: all .5s cubic-bezier(0.22,-0.27, 0.72, 1.71);
}

.card:hover{
  background: #e8e8e8;
}
.card:hover .card__imagem{
  background: #ccc;
}

.card:hover .card__imagem img{
      transform: scale(1.2);
}
.card__text{
  display: inline-block;
  font-size: 16px;
}
.card--modI:after, 
.card--modII:after{
  display: block;
    padding: 2px 5px 2px 9px;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 11px 0 0;
    text-shadow: 1px 1px 1px white;
  
}
.card--modI:after{
  content: "módulo 1";
  background: #cadcaf;
}
.card--modII:after{
  content: "módulo 2";
  background: #cc9e9d;
}


.investimento {
  background: #12303a;
  color: #fff;
  text-align: center;
  color: #92abbb;
}

.investimento .titulo-secao {
  color: #f34e2a;
}
.investimento p{
      font-size: 1.085em;
}

.investimento__preco{
      font-size: 1.2em;
    text-align: center;
    color: #ccc;
}
.investimento__preco--num{
font-size: 1.8em;
color: #f34e2a;
  }

.investimento__disclaimer{
  color: #ccc;
  font-size: .85em;
  margin: 5px 0;
}

.investimento__cta{
      margin: 50px auto 10px;
    background: #20a042;
    border: 0;
    color: #fff;
    width: 210px;
    line-height: 38px;
    font-size: 1.2em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
    box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    display: block;
    transition: all .5s;
}
.investimento__cta:link, 
.investimento__cta:visited{
  color: white;
} 

.investimento__cta:hover{
  background: #22b94a;
}

.instrutor{
    padding-top: 2em;
    background: #83251e;
    color: white;
}
.instrutor p{
  line-height: 2;
}

.contato{
  margin-bottom: 1em;
  padding-top: 2em;
}

@media screen and (min-width: 978px){
  .videoWrapper {
      padding-bottom: 515px;
    }
}

@media screen and (min-width: 980px){
  

  .card{
    width: 45%;
    box-sizing: border-box;
    margin-top: 30px;
    }
 
  .card:nth-child(2n){
    margin: -45px 0 -45px auto;
  }
  .videoWrapper {
    transform: translateY(-80px);
    top: 0;
  }

  .video{
    border-bottom: none;
  }
}