/*body {
  
}*/
/*p {font: .9em/1.8 sans-serif;}*/
p:not([class]){
  font: 1em/1.9 sans-serif;
}
h1, h2, h3, p[class]{
  font-family: "Roboto Slab", serif;
}
li{
  line-height: 2;
}
main{
  padding-top: 6em;
  background: #ebebeb;
}
/** Formulario padrao **/
form input,
form button {
  display: block;
}

form {
  margin: 0 auto;
  width: 90%;
}

form input,
textarea {
  width: 100%;
  margin-bottom: .8em;
  padding: 4px 8px;
  border-radius: 0.3em;
  border: 2px solid #ccc;
  box-sizing: border-box;
}

form button {
  margin: 0 auto;
  background: #83251e;
  border: 0;
  color: #fff;
  width: 210px;
  height: 38px;
  font-size: 1.2em;
  border-radius: 0.3em;
  box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

a{
  text-decoration: none;
}
a:link, a:visited{
  color: inherit;
}
.content-post a{
  color: #ff2601;
  text-decoration: underline;
}
.content-post a:hover{
  background: #ff2601;
  color: white;
  text-decoration: none;
}
.content-post .hljs{
  padding: 2% 4%;
    line-height: 1.5;
}
.container {
	width: 90%;
	margin: 0 auto;
}


.titulo-secao {
  /*font-size: 2em;*/
  text-align: center;
  margin: 0;
}
.titulo-secao--smaller{
  /*font-size: 1.25em;*/
}

.content {
  padding: 3em 0 6em 0;
}
.container-cards-posts{
  padding-bottom: 2em;
}
.content-post{
  padding: 1em 0;
}
.content-post h2{
  margin: 2em 0 1em;
}
.content-post h3{
  margin: 1.5em 0 .75em;
}

#navMob{
  position: fixed;
    top: 0;
    width: 100%;
    right: 0;
    text-align: right;
    color: white;
    z-index: 10;
    background: #12303a;
    padding: 15px;
        border-bottom: solid 2px #011009;
}

#topo {
	height: auto;
	background: #12303a;
	padding: 0 10px;
  z-index: 14;
  position: relative;
}

.topo__container{
  padding-bottom: 1px;
}
.topo__logo {
	max-width: 80%;
	margin: 0 auto;
}

.topo__logo__img {
	max-width: 100%;
	margin: .5em auto;
	display: block;
}

.topo__mainMenu {
	display: block;
	text-align: center;
}
.topo__mainMenu ul {
  padding-left: 0;
}

.topo__mainMenu li {
	list-style: none;
}
.topo__mainMenu a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 1em;
  position: relative;
}
.topo__mainMenu a:after{
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 2px;
  left: 50%;
  bottom: 0;
  background: #8b251d;
  transition: all .3s ease-in-out;

}

.topo__mainMenu a:hover {
  /*text-decoration: underline; */ 
  /*background: #122b33;*/
}
.topo__mainMenu a:hover:after{
width: 100%;
left: 0;
  }



.bannerDestaque {
  background: url(../imagens/destaque.jpg) left center repeat-x;
  -webkit-background-size: cover;
  background-size: cover;
  color: white;
  padding-top: 1em;
  padding-bottom: 2em;
}
.bannerDestaque__titulo{
  width: 90%;
  text-shadow: 0.075em 0.075em 1px #213a36;
/*  font-size: 1.3em;*/
  line-height: 1.1;
}
.bannerDestaque__text{
	text-shadow: .1em .1em 2px #213a36;
  font-size: 1.2em;
  font-family: "Roboto Slab", serif;

}
.bannerDestaque__time{
  color: white;
  color: rgba(255,255,255,.5);
    font-size: .85em;
}


/** Footer **/
.footer {
  display: block;
  position: relative;
  text-align: center;
  background: #12303a;
}


.footer .container {
  padding-top: 3em;
  height: 6.5em;
  position: relative;
}

.footer__logo {
  width: 250px;
}

/* card posts */
.card-post{
    /*background: #e0e9ec;*/
    /*border: 1px solid white;*/
    box-sizing: border-box;
    
    /*box-shadow: 0 0 0px 2px transparent;*/
        box-shadow: 0px 8px 19px -10px black;
    margin: 3em 0;
    transition: all .8s;
    border-radius: .4em;
    will-change: box-shadow;

    

}
.card-post a{
  padding: 1.35em;
  display: block;
}
.card-post:hover{
    /*background: #cbe2e2;    */
    /*border-color: #8b251d;*/
    /*box-shadow: 0 0 0px 2px #8b251d;*/
    box-shadow: 0px 8px 25px -5px black;
    transform: translate(0, -5px);
}



.card-post__time{
  font-size: .8em;
  color: #8a8a8a;
  /*font-family: sans-serif;*/
}


@media screen and (min-width: 760px){
  
  .topo__mainMenu ul{
    margin: 0;
  }
  .topo__mainMenu li {
    display: inline-block;    
  }
  .topo__mainMenu a{
        padding: 1em .8em;
  }

  .topo__mainMenu .adquira{
        background: #e44e2a;
        border-radius: 15px;
        padding: 9px 15px;
  }
  .topo__mainMenu .adquira:hover:after{
    display: none;
  }
}





@media screen and (min-width: 980px){
  .content {
    padding: 125px 0 6em 0;
  }
  
  body{
    padding-top: 70px;
  }

	#topo {
	  height: 70px;
	  width: 100%;
	  position: fixed;
    top: 0;
    left: 0;
	  z-index: 10;
	}
  #navMob{
    display: none;
  }
	.topo__logo{
		display: inline-block;
	}
	.topo__logo__img{
		margin: 10px 0 0;
        max-width: 70%;
	}

	.topo__container {
	  position: relative;
	}

	.container {
	  width: 940px;
	}

	.topo__mainMenu {
	  position: absolute;
	  right: 0;
	  top: .5em;
	  /*font-size: 1.1em;*/
	  font-weight: lighter;
	  width: 80%;
	}
  .topo__mainMenu ul{
    text-align: right;
  }

	
	.bannerDestaque {
		background-position: center bottom;
	  height: 250px;
	  padding-top: 12em;
	}
	.bannerDestaque__titulo {
	      width: 70%;
    margin-top: 1em;
    font-size: 2.2em;
    margin-top: 0;
	}

}


/*feedback */
.feedback{
  position: fixed;
  padding: 25px 15px 15px;
  font-family: sans-serif;
  bottom: 15px;
  left: 15px;
  right: 15px;
  background: #ccc;
  text-align: center;
  transition: opacity .3s linear, transform .5s cubic-bezier(0.63, -0.4, 0.42, 1.6);
  overflow: hidden;
}
.feedback--success{
  background: #76c176;
  color: white;
}
.feedback--success .close{
  background: #5f9e5f;
}
.feedback--error{
  background: #cc1f13;
  color: white;
}
.feedback--error .close{
  background: #a2180f;
}

.feedback--hide{
  opacity: 0;
  transform: translateY(100px);
}

.feedback--show{
  opacity: 1;
  transform: translateY(0);
}

.feedback .close{
  position: absolute;
  right: 0;
  top: -0;
  padding: 7px 15px;
  border: none;
}