html{
    height: calc(100% - 5.75em);
}

@media screen and (max-width: 480px){
    html{
        font-size: 80%;
    }
    
}

h1, h2, footer{
    font-weight: 400;
}
a{
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid;
}
a:hover{
    color: #bfb4c1
}
body{
    background-color: #442245;
    /* background-color: #0a4249; */
    color: #c1bccd;
    text-align: center;
    margin: 0;
    padding: 1em;
    box-sizing: border-box;
    background-image: linear-gradient(165deg, #47274c 50%, transparent 50%);
    /* background-image: linear-gradient(165deg, #06373d 50%, transparent 50%); */
    
    height: 100%;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 300;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

input[type="radio"]{
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
}

#answers{
    display: flex;
    flex-direction: column;
    padding: .5em 2em;
    background: rgba(255, 255, 255, .65);
    /* background: #0d5155; */
    color: #442245;
    /* color: #fefff0; */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

#congrats{
    opacity: 0;
    font-size: 2em;
    color: #ffcf00
}

.ans{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ans:not(:last-child){
    border-bottom: 1px solid #b4a5b5;
}

label{
    position: relative;
    font-size: 1.5em;
    flex-grow: 1;
    margin: 1em 0;
    cursor: pointer;
}

label:first-child:after, label:last-child:after{
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    top: calc(50% - .5em);
    width: 1em;
    height: 1em;
    background-color: #af67b1;
    /* background-color: #c5d2ab; */
}
label:first-child{
    padding-left: 2em;
    margin-right: 1em;
}
label:last-child{
    padding-right: 2em;
    margin-left: 1em;
}
label:first-child:after{
    left: 0;
}  
label:last-child:after{
    right: 0;
}

#length:checked ~ main [for="length"]:first-child:after,
#lenght:checked ~ main [for="lenght"]:last-child:after,
#width:checked ~ main [for="width"]:first-child:after,
#widht:checked ~ main [for="widht"]:last-child:after,
#heigth:checked ~ main [for="heigth"]:first-child:after,
#height:checked ~ main [for="height"]:last-child:after{
    background-color: #441a45;
    /* background-color: #d6ff00; */
    box-shadow: 0 0 0 2px #bcafbc, 0 0 0 5px #442245;    
    /* box-shadow: 0 0 0 2px #bcafbc, 0 0 0 5px #d6ff00;     */
}

#length:checked ~ #width:checked ~ #height:checked ~ main #congrats {
    transition: .5s opacity;
    opacity: 1;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #97739d;
    background-color: rgba(0,0,0, .15);
    height: 5.75em;
    box-sizing: border-box;
}