body {
  font-family: "Roboto Slab", serif;
}

/** Formulario padrao **/
form input,
form button {
  display: block;
}

form {
  margin: 0 auto;
  width: 90%;
}

form input,
textarea {
  width: 100%;
  margin-bottom: .8em;
  padding: 4px 8px;
  border-radius: 0.3em;
  border: 2px solid #ccc;
  box-sizing: border-box;
}

form button {
  margin: 0 auto;
  background: #83251e;
  border: 0;
  color: #fff;
  width: 210px;
  height: 38px;
  font-size: 1.2em;
  border-radius: 0.3em;
  box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.container {
	width: 90%;
	margin: 0 auto;
}


.titulo-secao {
  text-decoration: underline;
  font-size: 2em;
  text-align: center;
}

.content {
  padding: 3em 0 6em 0;
}
.instrutor{
  padding-top: 2em;
}


#navMob{
  position: fixed;
    top: 0;
    width: 100%;
    right: 0;
    text-align: right;
    color: white;
    z-index: 10;
    background: #12303a;
    padding: 15px;
        border-bottom: solid 2px #011009;
}

#topo {
	height: auto;
	background: #12303a;
	padding: 0 10px;
  z-index: 14;
  position: relative;
}

.topo__container{
  padding-bottom: 1px;
}
.topo__logo {
	max-width: 80%;
	margin: 0 auto;
}

.topo__logo__img {
	max-width: 100%;
	margin: .5em auto;
	display: block;
}




.topo__mainMenu {
	display: block;
	text-align: center;
}
.topo__mainMenu ul {
  padding-left: 0;
}

.topo__mainMenu li {
	list-style: none;
}
.topo__mainMenu a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 1em;
  position: relative;
}
.topo__mainMenu a:after{
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 2px;
  left: 50%;
  bottom: 0;
  background: #8b251d;
  transition: all .3s ease-in-out;

}

.topo__mainMenu a:hover {
  /*text-decoration: underline; */ 
  /*background: #122b33;*/
}
.topo__mainMenu a:hover:after{
width: 100%;
left: 0;
  }



.bannerDestaque {
  background: url(../imagens/destaque.jpg) left center repeat-x;
  -webkit-background-size: cover;
  background-size: cover;
  color: white;
  padding-top: 1em;
  padding-bottom: 2em;
  font-size: 160%;
}
.bannerDestaque__titulo{
  width: 90%;
  text-shadow: .1em .1em 2px #213a36;
  font-size: 1.3em;
  line-height: 1.1;
}
.bannerDestaque__text{
	text-shadow: .1em .1em 2px #213a36;
}


/** video **/

.video{
  background: #f34e2a;
  border-bottom: 50px solid #d04223;
}
.videoWrapper {
  position: relative;
  padding-bottom: 49.25%; /* 16:9 */  
  padding-top: 10px;
  height: 0;
  max-width: 940px;
}
.videoWrapper__iframe {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 100%;
}



/** Sobre **/
.sobre {
  background: #ebebeb;
}
.sobre p {
  font: .9em/1.8 sans-serif;
}

.sobre p:first-child {
  margin-bottom: 3em;
}
.sobre .titulo-secao{
  color: #8b251d;
}

.planoEstudo .titulo-secao{
  color: #12303a;
}


.card{
  padding: 5px;
  box-shadow: 2px 2px 8px -2px rgba(0,0,0,.5);
  margin-bottom: 15px;
  font-size: 0;
  min-height: 100px;
  position: relative; 
  padding-left: 140px; 
  transition: background .5s;
}
.card__imagem{
  display: inline-block;
  width: 33.333%;
  height: 100%;
  width: 120px;
  position: absolute;
  left:0;
  top: 0;
  bottom: 0;
  background: #eee;
  border-right: solid 1px #c8c8c8;
  transition: background .5s;


}
.card__imagem img{
      width: 80%;
    height: 80%;
    margin: 10%;
    transition: all .5s cubic-bezier(0.22,-0.27, 0.72, 1.71);
}

.card:hover{
  background: #e8e8e8;
}
.card:hover .card__imagem{
  background: #ccc;
}

.card:hover .card__imagem img{
      transform: scale(1.2);
}
.card__text{
  display: inline-block;
  font-size: 16px;
}
.card--modI:after, 
.card--modII:after{
  display: block;
    padding: 2px 5px 2px 9px;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 11px 0 0;
    text-shadow: 1px 1px 1px white;
  
}
.card--modI:after{
  content: "módulo 1";
  background: #cadcaf;
}
.card--modII:after{
  content: "módulo 2";
  background: #cc9e9d;
}


.investimento {
  background: #12303a;
  color: #fff;
  text-align: center;
  color: #92abbb;
}

.investimento .titulo-secao {
  color: #f34e2a;
}
.investimento p{
      font-size: 1.085em;
}

.investimento__preco{
      font-size: 1.2em;
    text-align: center;
    color: #ccc;
}
.investimento__preco--num{
font-size: 1.8em;
color: #f34e2a;
  }

.investimento__disclaimer{
  color: #ccc;
  font-size: .85em;
  margin: 5px 0;
}

.investimento__cta{
      margin: 50px auto 10px;
    background: #20a042;
    border: 0;
    color: #fff;
    width: 210px;
    line-height: 38px;
    font-size: 1.2em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
    box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    display: block;
    transition: all .5s;
}
.investimento__cta:hover{
  background: #22b94a;
}

.instrutor{
    background: #83251e;
    color: white;
}
.instrutor p{
  line-height: 2;
}

.contato{
  margin-bottom: 1em;
  padding-top: 2em
}

/** Footer **/
.footer {
  display: block;
  position: relative;
  text-align: center;
  background: #12303a;
}


.footer .container {
  padding-top: 3em;
  height: 6.5em;
  position: relative;
}

.footer__logo {
  width: 250px;
}

@media screen and (min-width: 760px){
  
  .topo__mainMenu ul{
    margin: 0;
  }
  .topo__mainMenu li {
    display: inline-block;    
  }
  .topo__mainMenu a{
        padding: 1em .8em;
  }

  .topo__mainMenu .adquira{
        background: #e44e2a;
        border-radius: 15px;
        padding: 9px 15px;
  }
  .topo__mainMenu .adquira:hover:after{
    display: none;
  }
}



@media screen and (min-width: 978px){
  .videoWrapper {
      padding-bottom: 515px;
    }
}

@media screen and (min-width: 980px){
  .content {
    padding: 125px 0 6em 0;
  }

  .card{
    width: 45%;
    box-sizing: border-box;
    margin-top: 30px;
    }
 
  .card:nth-child(2n){
    margin: -45px 0 -45px auto;
  }

	#topo {
	  height: 70px;
	  width: 100%;
	  position: fixed;
	  z-index: 10;
	}
  #navMob{
    display: none;
  }
	.topo__logo{
		display: inline-block;
	}
	.topo__logo__img{
		margin: 10px 0 0;
        max-width: 70%;
	}

	.topo__container {
	  position: relative;
	}

	.container {
	  width: 940px;
	}

	.topo__mainMenu {
	  position: absolute;
	  right: 0;
	  top: .5em;
	  font-size: 1.1em;
	  font-weight: lighter;
	  width: 80%;
	}
  .topo__mainMenu ul{
    text-align: right;
  }

	
	.bannerDestaque {
		background-position: center bottom;
	  height: 250px;
	  padding-top: 12em;
	  font-size: 100%;
	}
	.bannerDestaque__titulo {
	      width: 70%;
    margin-top: 1em;
    text-shadow: .2em .2em 2px #213a36;
    font-size: 2.2em;
    margin-top: 0;
	}

	.videoWrapper {
	  transform: translateY(-80px);
	  top: 0;
	}

	.video{
	  border-bottom: none;
	}
}


/*feedback */
.feedback{
  position: fixed;
  padding: 25px 15px 15px;
  font-family: sans-serif;
  bottom: 15px;
  left: 15px;
  right: 15px;
  background: #ccc;
  text-align: center;
  transition: opacity .3s linear, transform .5s cubic-bezier(0.63, -0.4, 0.42, 1.6);
  overflow: hidden;
}
.feedback--success{
  background: #76c176;
  color: white;
}
.feedback--success .close{
  background: #5f9e5f;
}
.feedback--error{
  background: #cc1f13;
  color: white;
}
.feedback--error .close{
  background: #a2180f;
}

.feedback--hide{
  opacity: 0;
  transform: translateY(100px);
}

.feedback--show{
  opacity: 1;
  transform: translateY(0);
}

.feedback .close{
  position: absolute;
  right: 0;
  top: -0;
  padding: 7px 15px;
  border: none;
}